<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.servkit.tokosas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LaporanPenjualan"/>
        <activity android:name=".LaporanStok" />
        <activity android:name=".LaporanPiutang" />
        <activity android:name=".TosKpbKoreksi" />
        <activity android:name=".TosRbForm" />
        <activity android:name=".TosRbLihat" />
        <activity android:name=".PiutangPpFormPembayaran" />
        <activity android:name=".PiutangPpFormDaftarList" />
        <activity android:name=".PiutangPpFormDaftar" />
        <activity android:name=".PiutangPpForm" />
        <activity android:name=".PiutangPpLihat" />
        <activity android:name=".PiutangPpCari" />
        <activity android:name=".PiutangSpCari" />
        <activity android:name=".PiutangDpFormList" />
        <activity android:name=".PiutangDpLihat" />
        <activity android:name=".TosPrbLihat" />
        <activity android:name=".TosPrbForm" />
        <activity android:name=".HutangPhFormDaftarList" />
        <activity android:name=".HutangPhFormDaftar" />
        <activity android:name=".HutangPhFormPembayaran" />
        <activity android:name=".HutangPhLihat" />
        <activity android:name=".HutangShLihat" />
        <activity android:name=".HutangDhFormList" />
        <activity android:name=".HutangDhLihat" />
        <activity android:name=".PosKnKoreksiList" />
        <activity android:name=".PosLnLihat" />
        <activity android:name=".PosNppProduk" />
        <activity android:name=".PosNppSalesmanTambah" />
        <activity android:name=".PosNppSalesman" />
        <activity android:name=".PosNppPelangganTambah" />
        <activity android:name=".PosNppPelanggan" />
        <activity android:name=".PosNppPembayaran" />
        <activity android:name=".PosNppList" />
        <activity android:name=".TosPpksLihatUbah" />
        <activity android:name=".TosRbCari" />
        <activity android:name=".TosPrbCari" />
        <activity android:name=".TosMopLihat" />
        <activity android:name=".TosPbFormList" />
        <activity android:name=".TosPbFormSummary" />
        <activity android:name=".TosPbForm" />
        <activity android:name=".TosPbLihat" />
        <activity android:name=".TosPbCari" />
        <activity android:name=".TosOpFormList" />
        <activity android:name=".TosOpFormSummary" />
        <activity android:name=".TosOpForm" />
        <activity android:name=".TosOpLihat" />
        <activity android:name=".TosOpCari" />
        <activity android:name=".TosPwksCari" />
        <activity android:name=".TosPpksLihat" />
        <activity android:name=".HutangPhForm" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" />
        <activity android:name=".MyAccount" />
        <activity android:name=".Member" />
        <activity android:name=".MemberPart" />
        <activity android:name=".MemberSnk" />
        <activity android:name=".MemberBonus" />
        <activity android:name=".TosPpks" />
        <activity android:name=".TosPpksCari" />
        <activity android:name=".TosPpksForm" />
        <activity android:name=".TosPpksList" />
        <activity android:name=".TosPpksFormLookup" />
        <activity android:name=".TosPpksResult" />
        <activity android:name=".TosPwks" />
        <activity android:name=".TosOp" />
        <activity android:name=".TosPb" />
        <activity android:name=".TosMop" />
        <activity android:name=".TosMopCari" />
        <activity android:name=".TosKpb" />
        <activity android:name=".TosKpbCari" />
        <activity android:name=".TosPrb" />
        <activity android:name=".TosRb" />
        <activity android:name=".PosNpp" />
        <activity android:name=".PosNppForm" />
        <activity android:name=".PosLn" />
        <activity android:name=".PosLnCari" />
        <activity android:name=".PosKn" />
        <activity android:name=".PosKnCari" />
        <activity android:name=".PosKnKoreksi" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ResetPass" />
        <activity android:name=".HutangDh" />
        <activity android:name=".HutangDhForm" />
        <activity android:name=".HutangDhFormSummary" />
        <activity android:name=".HutangDhCari" />
        <activity android:name=".HutangSh" />
        <activity android:name=".HutangShCari" />
        <activity android:name=".HutangPh" />
        <activity android:name=".HutangPhCari" />
        <activity android:name=".PiutangDp" />
        <activity android:name=".PiutangDpForm" />
        <activity android:name=".PiutangDpCari" />
        <activity android:name=".PiutangSp" />
        <activity android:name=".PiutangSpLihat" />
        <activity android:name=".PiutangPp" />
        <activity android:name=".LaporanHutang" />
    </application>

</manifest>